@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Montserrat", ui-sans-serif, system-ui;
  --color-coral: #FF5F45; /* The primary color from your design */
}



/* index.css */
html, body {
  overflow: auto; 
}
